NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_SIGNAL_FORCE_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_SIGNAL_FORCE_CHAIN_ID=11155111
NEXT_PUBLIC_TX_GAS_CAP=500000
NEXT_PUBLIC_HARDHAT_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://rpc.sepolia.org
